@model List<WebApplication1.Models.Product>

<ul class="nav nav-list promowrapper">
    @foreach (var product in Model)
    {
        <li>
            <div class="thumbnail">
                <a class="zoomTool" href="@Url.Action("ProductDetails", "Products", new { productId = product.ProductID })" title="Quick View"><span class="icon-search"></span> QUICK VIEW</a>
                <img src="@Url.Content(product.ImageURL)" alt="@product.ProductName">
                <div class="caption">
                    <h4>
                        <a class="defaultBtn" href="@Url.Action("ProductDetails", "Products", new { productId = product.ProductID })">VIEW</a>
                        <span class="pull-right">@String.Format("{0:C}", product.Price)</span>
                    </h4>
                </div>
            </div>
        </li>
        <li style="border:0"> &nbsp;</li>
    }
</ul>
